// vendors
@import "./vendors/vendors";

// abstracts
@import "./abstracts/variables";
@import "./abstracts/mixins";

// layout
@import "./layout/header";
@import "./layout/content";
@import "./layout/footer";

// components
@import "./components/accordion";
@import "./components/advance-list";
@import "./components/advance-list2";
@import "./components/advance-table";
@import "./components/avatar";
@import "./components/button";
@import "./components/checkbox";
@import "./components/colorpicker";
@import "./components/contact";
@import "./components/content-box";
@import "./components/datatable";
@import "./components/datatable2";
@import "./components/document-hover";
@import "./components/filters-container";
@import "./components/form-error";
@import "./components/input";
@import "./components/link";
@import "./components/list-filter";
@import "./components/modal";
@import "./components/pagination";
@import "./components/radio-button";
@import "./components/search-input";
@import "./components/select";
@import "./components/select-columns";
@import "./components/switch";
@import "./components/table-filter";
@import "./components/user-card";

* {
    font-family: $primary-font;
    outline: none !important;
}

body {
    background-color: $screen-background;
    min-height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
    position: relative;

    &.white {
        background-color: white;
    }

    & > div:first-child {
        position: relative;
        min-height: 100vh;
    }
}

p.label {
    margin: 0;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: bold;
    color: $dark;
}

p.normal-text {
    margin: 0;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: normal;
}

.mb-30 {
    margin-bottom: 30px;
}

.grid-10 {
    &.row {
        margin-left: -10px !important;
        margin-right: -10px !important;
    }

    & > div {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.flex-1 {
    flex: 1;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
    @include shadow(0px, 2px, 5px, 1px, rgba(0, 0, 0, 0.05));

    .dropdown-item {
        font-size: 14px;
        padding: 12px 15px;

        &:active {
            background-color: $primary-color;
        }
    }
}
