$sidebar-width: 55px;
$sidebar-width-open: 240px;

.MainContent {
    padding: 20px 20px 75px;
    margin-left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});

    &.pinned {
        width: calc(100% - #{$sidebar-width-open});
        margin-left: $sidebar-width-open;
        transition: 200ms ease-out;
    }

    @include media-breakpoint-down(sm) {
        margin-left: 0 !important;
        width: 100% !important;
    }
}
