@import "../abstracts/animation";

$menu-collapse-width: 1250px;
$page-header-menu-collapse-width: 1100px;
$header-height: 60px;
$sidebar-width: 55px;
$sidebar-width-open: 240px;

$image-container-height: 180px;
$image-container-height-lg: 150px;
$image-container-height-md: 130px;

.Header {
    /* =========== Desktop Header =========== */

    .image-container {
        width: 100%;
        height: $image-container-height;
        position: relative;
        background-image: url("../images/header-top.png");
        background-size: cover;
        background-position: center;
        @include blur(2px);

        @include media-breakpoint-down(lg) {
            height: $image-container-height-lg;
        }

        @include media-breakpoint-down(md) {
            height: $image-container-height-md;
        }

        &.pinned {
            width: calc(100% - #{$sidebar-width-open});
            margin-left: $sidebar-width-open;
            transition: 200ms ease-out;
        }
    }

    .page-header {
        height: $header-height;
        width: calc(100% - #{$sidebar-width});
        padding-left: 20px;
        padding-right: 20px;
        background-color: $primary-color;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        @include flex(space-between, center);

        margin-left: $sidebar-width;

        &.pinned {
            width: calc(100% - #{$sidebar-width-open});
            margin-left: $sidebar-width-open;
            transition: 200ms ease-out;
        }

        &.fixed {
            margin-top: $header-height;
        }

        .title-container {
            @include flex(flex-start, center);

            .title {
                margin: 0;
                padding: 0;
                margin-left: 10px;
                color: white;
                font-size: 20px;
                font-weight: bold;
                font-family: $primary-font;

                @include breakpoint-down(400px) {
                    font-size: 14px;
                }
            }

            .icon {
                width: 40px;
                height: 40px;
                color: white;
                font-size: 18px;
                border-radius: 50%;
                cursor: pointer;
                @include flex(center, center);

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    transition: 150ms;
                }
            }
        }

        .details {
            @include flex(center, center);

            .search-input {
                width: 260px;
                position: relative;

                input {
                    width: 100%;
                    padding: 6px 15px;
                    padding-right: 45px;
                    background-color: rgba(255, 255, 255, 0.2);
                    font-family: $primary-font;
                    font-size: 14px;
                    font-weight: normal;
                    color: white;
                    border-radius: 4px;
                    border: 0 !important;
                    outline: none !important;

                    &::placeholder {
                        font-family: $primary-font;
                        font-size: 12px;
                        font-weight: 500;
                        color: white;
                    }
                }

                .icon {
                    position: absolute;
                    color: white;
                    top: 10px;
                    right: 15px;
                    font-size: 13px;
                }
            }

            .nav {
                margin-left: 10px;

                li {
                    position: relative;
                    padding: 0 20px;
                    height: $header-height;
                    color: white;
                    cursor: pointer;
                    @include flex(center, center);

                    &:hover {
                        background-color: #3ab7ed;
                    }

                    .counter {
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        font-size: 10px;
                        font-weight: 600;
                        color: white;
                        background-color: $secondary-color;
                        border-radius: 50%;
                        line-height: 0;
                        margin-left: 8px;
                        margin-top: -12px;
                        @include flex(center, center);
                    }
                }
            }

            @include breakpoint-down($page-header-menu-collapse-width) {
                .search-input,
                .nav {
                    display: none;
                }
            }

            .dropdown-avatar {
                cursor: pointer;
                margin-left: 10px;
                @include breakpoint-up($page-header-menu-collapse-width) {
                    .show-on-mobile {
                        display: none;
                    }
                }

                &.show {
                    .arrow {
                        transform: rotate(180deg);
                    }
                }

                [data-toggle="dropdown"] {
                    height: $header-height;
                    @include flex(center, center);

                    .avatar-name {
                        margin-left: 10px;
                        color: white;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    .arrow {
                        color: white;
                        font-size: 16px;
                        margin-left: 10px;
                        transition: all 0.3s ease-out;
                    }
                }

                .dropdown-menu {
                    border: 0;
                    border-radius: 0;
                    margin-top: -5px !important;
                    @include shadow(0px, 2px, 5px, 1px, rgba(0, 0, 0, 0.05));

                    .dropdown-item {
                        font-size: 14px;
                        padding: 12px 15px;

                        .show-on-mobile {
                            display: none;

                            @include breakpoint-down($page-header-menu-collapse-width) {
                                @include flex(stretch, center);
                            }
                        }

                        @include media-breakpoint-down(sm) {
                            font-size: 12px;
                        }

                        &:active {
                            background-color: $primary-color;
                        }

                        .icon {
                            margin-right: 10px;
                            font-size: 14px;
                            min-width: 18px;
                        }
                    }
                }
            }
        }
    }

    .sidebar {
        width: $sidebar-width-open;
        height: calc(100% - #{$image-container-height});
        position: absolute;
        margin-top: -$header-height;
        background-color: white;
        overflow: hidden;
        z-index: 10000;
        display: flex;
        flex-direction: column;

        transition: width 200ms ease-out;
        -webkit-box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.16);

        @include media-breakpoint-down(lg) {
            height: calc(100vh - #{$image-container-height-lg});
        }

        @include media-breakpoint-down(md) {
            height: calc(100vh - #{$image-container-height-md});
        }

        &.pinned {
            height: 100%;
            margin-top: 0;
            bottom: 0;
            transition: height 200ms ease-out;

            .logo {
                height: calc(#{$header-height} + #{$image-container-height});
                border-bottom: 0;
                transition: height 200ms ease-out;
                @include flex(center, center);

                @include media-breakpoint-down(lg) {
                    height: calc(#{$header-height} + #{$image-container-height-lg});
                }

                @include media-breakpoint-down(md) {
                    height: calc(#{$header-height} + #{$image-container-height-md});
                }

                .full {
                    height: 50px;
                    transition: 200ms ease;
                }

                .icon {
                    display: none;
                }
            }
        }

        &.collapsed {
            width: $sidebar-width;
            transition: width 200ms ease-out;

            .logo {
                .full {
                    display: none;
                }

                .small {
                    display: block;
                }

                .icon {
                    display: none;
                }
            }

            .links {
                .header {
                    .full {
                        display: none;
                    }

                    .small {
                        display: block;
                    }
                }

                .menu-item-has-children {
                    & > a {
                        pointer-events: none;

                        &::after {
                            display: none !important;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }
        }

        .logo {
            height: $header-height;
            border-bottom: 1px solid $gray-1;
            padding: 0 20px 0 14px;
            @include flex(space-between, center);

            .small {
                height: 23px;
                display: none;
            }

            .full {
                height: 30px;
                margin-top: 5px;
            }

            .icon {
                color: $gray-6;
                font-size: 18px;
                cursor: pointer;
            }
        }

        #links-scrollbar {
            position: relative;
            flex: 1;
        }

        .links {
            .header {
                margin-top: 5px;
                padding-top: 8px;
                padding-bottom: 8px;
                white-space: nowrap;

                .full {
                    margin-left: 20px;
                    font-size: 12px;
                    font-weight: 800;
                    color: $gray-6;
                    text-transform: uppercase;
                }

                .small {
                    height: 24px;
                    font-size: 20px;
                    color: $gray-6;
                    text-align: center;
                    display: none;
                }
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .links-container {
                text-align: left;

                * {
                    margin: 0;
                    padding: 0;
                }

                // First layer
                & > ul > li {
                    &.active > a {
                        background-color: $gray-7;
                    }
                }

                li {
                    list-style-type: none;

                    &.active {
                        & > a {
                            color: $primary-color;

                            &:after {
                                transform: rotate(180deg) !important;
                            }

                            .icon {
                                color: $primary-color !important;
                            }
                        }

                        & > ul {
                            display: block;
                        }
                    }

                    a:not(:only-child):after {
                        content: "\f107";
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 300;
                        font-size: 18px;
                        position: absolute;
                        right: 20px;
                        opacity: 0.5;
                        transform: rotate(0);
                        transition: transform 200ms ease;
                        @include flex(center, center);
                    }

                    a {
                        position: relative;
                        height: 49px;
                        width: 100%;
                        padding: 14px 20px;
                        font-size: 14px;
                        font-family: $primary-font;
                        color: $dark;
                        border: 0;
                        outline: 0 !important;
                        text-decoration: none;
                        background-color: white;
                        @include flex(flex-start, center);

                        span {
                            white-space: nowrap;
                        }

                        &:hover {
                            color: $primary-color !important;
                            transition: 200ms;
                        }

                        .icon {
                            height: 21px;
                            width: 25px;
                            text-align: left;
                            font-size: 16px;
                            opacity: 0.5;
                            @include flex(flex-start, center);
                        }
                    }
                }

                /* do not remove - this makes the submenu open / close */
                ul ul,
                ul ul ul ul {
                    margin-left: 20px;
                    display: none;

                    & > li > a {
                        padding-left: 25px;
                        &:before {
                            content: "-";
                            font-size: 16px;
                            opacity: 0.5;
                            position: absolute;
                            margin-left: -18px;
                            margin-top: -2px;
                        }
                    }
                }

                ul ul ul,
                ul ul ul ul ul ul {
                    margin-left: 20px;

                    & > li > a {
                        padding-left: 25px;
                        &:before {
                            content: "\f111";
                            font-family: "Font Awesome 5 Pro";
                            font-weight: 600;
                            font-size: 5px;
                            opacity: 0.5;
                            position: absolute;
                            margin-left: -18px;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .image-container,
        .page-header,
        .sidebar {
            display: none;
        }
    }

    /* =========== Mobile Header =========== */

    .header-mobile {
        height: 60px;
        width: 100vw;
        background-color: white;
        @include shadow(0, 3px, 6px, 0, rgba(0, 0, 0, 0.16));
        display: none;

        @include media-breakpoint-down(sm) {
            @include flex(space-between, center);
        }

        .logo {
            height: 22px;
            margin-left: 20px;
        }

        .nav {
            margin-left: 10px;

            li.nav-item {
                position: relative;
                padding: 0 20px;
                height: $header-height;
                color: $dark;
                cursor: pointer;
                @include flex(center, center);

                &:hover {
                    background-color: $gray-7;
                }

                &.dropdown-show {
                    .icon {
                        font-size: 1.3rem;
                        color: $primary-color;
                    }

                    &:not(.collapsed) {
                        background-color: $gray-7;
                    }
                }

                .counter {
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    font-size: 10px;
                    font-weight: 600;
                    color: white;
                    background-color: $secondary-color;
                    border-radius: 50%;
                    line-height: 0;
                    margin-left: 8px;
                    margin-top: -12px;
                    @include flex(center, center);
                }
            }
        }
    }

    #mobile-navbar {
        background-color: $gray-7;
        @include shadow(0, 3px, 6px, 0, rgba(0, 0, 0, 0.16));

        .first-row {
            padding: 11px 20px;
            border: 1px solid $gray-5 !important;
            @include flex(flex-start, center);

            .search-input {
                position: relative;
                margin-right: 20px;
                flex: 1;

                input {
                    width: 100%;
                    padding: 6px 15px;
                    padding-right: 45px;
                    font-family: $primary-font;
                    font-size: 12px;
                    font-weight: 600;
                    color: $dark;
                    background-color: white;
                    border-radius: 4px;
                    border: 1px solid $gray-5 !important;
                    outline: none !important;

                    &::placeholder {
                        font-family: $primary-font;
                        font-size: 12px;
                        font-weight: 500;
                        color: $gray-6;
                    }
                }

                .icon {
                    position: absolute;
                    color: $gray-6;
                    top: 10px;
                    right: 15px;
                    font-size: 13px;
                }
            }

            .Avatar {
                margin-left: auto;
                flex-shrink: 0;
            }
        }

        .links-row {
            .links {
                .header {
                    padding-top: 6px;
                    padding-bottom: 6px;
                    white-space: nowrap;
                    background-color: white;

                    .full {
                        margin-left: 20px;
                        font-size: 12px;
                        font-weight: 800;
                        color: $gray-6;
                        text-transform: uppercase;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                .links-container {
                    text-align: left;

                    * {
                        margin: 0;
                        padding: 0;
                    }

                    // First layer
                    & > ul > li {
                        &.active > a {
                            background-color: $gray-7;
                        }
                    }

                    .menu-item-has-children {
                        margin-top: 2px;
                        background-color: white;
                    }

                    li {
                        list-style-type: none;

                        &.active {
                            & > a {
                                color: $primary-color;

                                &:after {
                                    transform: rotate(180deg) !important;
                                }

                                .icon {
                                    color: $primary-color !important;
                                }
                            }

                            & > ul {
                                display: block;
                            }
                        }

                        a:not(:only-child):after {
                            content: "\f107";
                            font-family: "Font Awesome 5 Pro";
                            font-weight: 300;
                            font-size: 16px;
                            position: absolute;
                            right: 20px;
                            opacity: 0.5;
                            transform: rotate(0);
                            transition: transform 200ms ease;
                            @include flex(center, center);
                        }

                        a {
                            position: relative;
                            height: 40px;
                            width: 100%;
                            padding: 0 20px;
                            font-size: 12px;
                            font-family: $primary-font;
                            color: $dark;
                            border: 0;
                            outline: 0 !important;
                            text-decoration: none;
                            background-color: white;
                            @include flex(flex-start, center);

                            &:hover {
                                color: $primary-color !important;
                                transition: 200ms;
                            }

                            .icon {
                                height: 21px;
                                width: 25px;
                                text-align: left;
                                font-size: 16px;
                                opacity: 0.5;
                                @include flex(flex-start, center);
                            }
                        }
                    }

                    /* do not remove - this makes the submenu open / close */
                    ul ul,
                    ul ul ul ul {
                        margin-left: 20px;
                        display: none;

                        & > li > a {
                            padding-left: 25px;
                            &:before {
                                content: "-";
                                font-size: 14px;
                                opacity: 0.5;
                                position: absolute;
                                margin-left: -18px;
                                margin-top: -2px;
                            }
                        }
                    }

                    ul ul ul,
                    ul ul ul ul ul ul {
                        margin-left: 20px;

                        & > li > a {
                            padding-left: 25px;
                            &:before {
                                content: "\f111";
                                font-family: "Font Awesome 5 Pro";
                                font-weight: 600;
                                font-size: 5px;
                                opacity: 0.5;
                                position: absolute;
                                margin-left: -18px;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
