.ActionRequired {
    width: 100%;
    min-height: 70px;
    padding: 20px;
    background-color: $secondary-color;
    border-radius: 4px;

    @include flex(flex-start, center);

    @include media-breakpoint-down(xs) {
        display: block;
    }

    .icon {
        color: white;
        font-size: 18px;
        margin-right: 20px;

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    .text {
        font-family: $secondary-font;
        font-size: 15px;
        font-weight: bold;
        color: white;
        margin: 0;
        margin-right: 20px;
    }

    button {
        min-width: 130px;
        padding: 6px 22px;
        margin-left: auto;
        background: white;
        border: 0;
        border-radius: 4px;
        color: $secondary-color;
        font-family: $secondary-font;
        font-size: 14px;
        font-weight: 700;
        outline: 0;
        transition: 150ms;

        @include media-breakpoint-down(xs) {
            margin-top: 20px;
            width: 100%;
        }

        &:hover {
            background: $gray-7;
            transition: 150ms;
        }
    }
}
