@import "../abstracts/animation";

$animationDuration: 300ms;

.AdvanceTable {
    .filter-configuration-panel {
        width: 20%;
        margin-bottom: 20px;
        transition: $animationDuration;

        .btn-show-filter {
            z-index: 1;
            position: relative;
            margin-left: 0;
            margin-left: 15px;
        }

        .TableFilter {
            padding: 0 15px;
        }

        &:not(.shown) {
            width: 0;
            transition: ease-in $animationDuration;

            & + .panel {
                width: 100% !important;
                transition: ease-in $animationDuration;
            }

            .TableFilter {
                opacity: 0;
                transition: 200ms;
            }
        }

        &.shown {
            .TableFilter {
                -webkit-animation: fadeIn ease-in 500ms;
                animation: fadeIn ease-in 500ms;
            }
        }
    }

    .table-panel {
        padding: 0 15px;
        width: 80%;
        transition: 300ms;
    }

    .filters-panel {
        padding: 0 15px;
        width: 80%;
        transition: 300ms;
    }

    @include media-breakpoint-down(lg) {
        .filter-configuration-panel {
            width: 30%;
        }

        .table-panel,
        .filters-panel {
            width: 70%;
        }
    }

    @include media-breakpoint-down(md) {
        .filter-configuration-panel {
            width: 100%;
        }

        .table-panel,
        .filters-panel {
            width: 100%;
        }
    }
}
