@import "../abstracts/animation";

$animationDuration: 300ms;

$width: 30%;
$widthLarge: 35%;

.AdvanceList {
    // Regular widths
    .filter-configuration-panel {
        width: $width;
    }

    .list-panel {
        width: calc(100% - #{$width});
    }

    // Large Widths
    &.large {
        .filter-configuration-panel {
            width: $widthLarge;
        }

        .list-panel {
            width: calc(100% - #{$widthLarge});
        }
    }

    .filter-configuration-panel {
        margin-bottom: 20px;
        transition: $animationDuration;

        &:not(.shown) {
            width: 0;
            transition: ease-in $animationDuration;

            & + .panel {
                width: 100% !important;
                transition: ease-in $animationDuration;
            }

            .ListFilter {
                opacity: 0;
                transition: 200ms;
            }
        }

        &.shown {
            padding: 0 15px;

            .ListFilter {
                animation: fadeIn ease-in 500ms;
            }
        }
    }

    .list-panel {
        z-index: 999;
        padding: 0 15px;
        transition: 300ms;

        .header {
            padding-bottom: 10px;
            border-bottom: 1px solid $gray-5;
            @include flex(space-between, center);

            .btn-show-filter {
                min-height: 35px;
                margin-right: 15px;
            }

            .search-filter {
                align-self: stretch;
                @include flex(stretch, center);

                .search-input {
                    height: 100%;
                    position: relative;
                    margin-right: 15px;
                    flex: 1;

                    input {
                        width: 100%;
                        height: 100%;
                        padding: 6px 15px;
                        padding-right: 45px;
                        font-family: $primary-font;
                        font-size: 14px;
                        font-weight: 600;
                        color: $dark;
                        background-color: $gray-7;
                        border-radius: 4px;
                        border: 1px solid $gray-5 !important;
                        outline: none !important;

                        &::placeholder {
                            font-family: $primary-font;
                            font-size: 14px;
                            font-weight: 500;
                            color: $gray-6;
                        }
                    }

                    .icon {
                        position: absolute;
                        color: $gray-6;
                        top: 10px;
                        right: 15px;
                        font-size: 13px;
                    }
                }
            }
        }

        .list {
            width: 100%;
            height: 400px;

            .ag-cell-value {
                white-space: normal !important;
                width: 100% !important;
                min-width: 550px;
            }

            .item {
                padding-top: 13px;
                padding-bottom: 13px;
                @include flex(flex-start, center);

                .icon {
                    width: 33px;
                    height: 33px;
                    margin-right: 20px;
                    border-radius: 4px;
                    flex-shrink: 0;
                    @include flex(center, center);

                    &.red {
                        background-color: rgba($color: $red, $alpha: 0.1);
                        color: $red;
                    }

                    &.green {
                        background-color: rgba($color: $green, $alpha: 0.1);
                        color: $green;
                    }

                    &.purple {
                        background-color: rgba($color: $purple, $alpha: 0.1);
                        color: $purple;
                    }

                    &.violet {
                        background-color: rgba($color: $violet, $alpha: 0.1);
                        color: $violet;
                    }
                }

                .details {
                    flex: 1;
                    margin-right: 15px;

                    .title {
                        margin: 0;
                        font-size: 14px;
                        font-weight: bold;
                        color: $primary-color;
                    }

                    .description {
                        margin: 0;
                        font-size: 11px;
                        color: $gray-6;
                    }
                }

                .time {
                    margin-left: auto;
                    font-size: 11px;
                    color: $gray-6;
                }
            }
        }

        .btn-show-more {
            margin-top: 30px;
            background-color: white;
            border: 0;
            outline: 0;
            @include flex(center, center);

            .icon {
                color: $primary-color;
            }

            span {
                margin-left: 10px;
                color: $primary-color;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .filter-configuration-panel {
            width: 30%;
        }

        .list-panel {
            width: 70%;
        }
    }

    @include media-breakpoint-down(md) {
        .filter-configuration-panel {
            width: 100%;
        }

        .list-panel {
            width: 100%;
        }
    }
}
