.ColorPicker {
    max-width: 200px;
    position: relative;

    .value {
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 4px;
    }

    input {
        padding-right: 40px;
    }

    .icon {
        position: absolute;
        font-size: 16px;
        color: #444;
        top: 12px;
        right: 15px;
    }
}

.CustomColorPicker {
    .pcr-save {
        font-family: $primary-font;
        border-radius: 4px !important;
        background-color: $primary-color !important;
    }

    .pcr-cancel {
        font-family: $primary-font;
        border-radius: 4px !important;
        background-color: $dark !important;
    }
}
