.ContentBox {
    min-height: 170px; // NOTE:: Remove min-height if it already has content
    padding: 10px 20px 20px 20px;
    background-color: white;
    border-radius: 4px;
    align-self: flex-start;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);

    &.same-padding {
        padding: 20px !important;
    }

    &.no-min-height {
        min-height: 0;
    }

    &.h-100 {
        height: 300px;
    }

    .box-header {
        min-height: 45px;
        flex-wrap: wrap;
        @include flex(space-between, center);

        .box-title {
            margin: 0;
            margin-top: 10px;
            margin-right: 10px;
            font-family: $primary-font;
            font-size: 16px;
            font-weight: bold;
            flex: 1;

            @include media-breakpoint-down(sm) {
                &.full-width-on-mobile {
                    width: 100%;

                    &.full-width-on-mobile + .action-items {
                        width: 100%;

                        .main-button {
                            padding-left: 8px;
                            padding-right: 8px;
                        }
                    }
                }
            }

            @include media-breakpoint-down(xs) {
                margin-right: 0;
                @include flex(space-between, center);

                button {
                    flex-shrink: 0;
                }
            }
        }

        .action-items {
            margin-top: 10px;
            flex-wrap: wrap;
            @include flex(flex-end, center);

            @include media-breakpoint-down(xs) {
                .main-button {
                    flex-basis: 100%;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    max-width: 100%;
                }
            }

            .tabs {
                margin-right: 13px;
                border: 0;

                li {
                    a {
                        min-width: 100px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        position: relative;
                        border: 0;
                        font-family: $primary-font;
                        font-size: 14px;
                        font-weight: normal;
                        color: $gray-6;
                        text-align: center;

                        &:not(.active):hover {
                            color: $primary-color;
                            font-weight: 600;
                        }

                        &.active {
                            background-color: $primary-color;
                            color: white;
                            border-radius: 4px;
                        }
                    }
                }

                @include media-breakpoint-down(xs) {
                    margin-right: 0;
                    width: 100%;

                    li {
                        margin: 3px 0;
                        width: 100%;

                        a {
                            width: 100%;
                        }
                    }
                }
            }

            &.with-input {
                @include flex(flex-end, stretch);

                .InputIcon {
                    margin-right: 10px;
                }
                .Select {
                    width: 265px;
                    margin-right: 10px;
                }

                @include media-breakpoint-down(sm) {
                    .InputIcon {
                        width: 100%;
                        margin-top: 0;
                        margin-right: 0;
                    }
                    .Select {
                        width: 100%;
                        margin-top: 10px;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .ellipsis {
        color: $gray-6 !important;
        border: 0 !important;
    }

    hr {
        margin-top: 15px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid $gray-5;
    }
}
