@mixin full-width-on-mobile-items {
    & + .action-items {
        width: 100%;
        margin-top: 10px;

        .main-button {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.ContentBox {
    min-height: 170px; // NOTE:: Remove min-height if it already has content
    padding: 10px 20px 20px 20px;
    background-color: white;
    border-radius: 4px;
    align-self: flex-start;
    @include shadow(0, 0, 10px, 0, rgba(0, 0, 0, 0.05));

    &.same-padding {
        padding: 20px !important;
    }

    &.no-min-height {
        min-height: 0;
    }

    &.h-100 {
        height: 300px;
    }

    .box-header {
        min-height: 45px;
        flex-wrap: wrap;
        @include flex(space-between, center);

        .box-title {
            margin: 0;
            margin-top: 10px;
            margin-right: 10px;
            font-family: $primary-font;
            font-size: 16px;
            font-weight: bold;

            @include media-breakpoint-down(md) {
                &.full-width-on-mobile-md {
                    width: 100%;
                    @include flex(space-between, center);
                    @include full-width-on-mobile-items;
                }
            }

            @include media-breakpoint-down(sm) {
                &.full-width-on-mobile {
                    width: 100%;
                    @include full-width-on-mobile-items;
                }
            }

            @include media-breakpoint-down(xs) {
                margin-right: 0;
                @include flex(space-between, center);

                button {
                    flex-shrink: 0;
                }
            }
        }

        .action-items {
            margin-top: 10px;
            flex-wrap: wrap;
            margin-left: auto;
            @include flex(flex-end, center);

            @include media-breakpoint-down(xs) {
                .main-button {
                    flex-basis: 100%;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    max-width: 100%;
                }
            }

            .tabs {
                margin-right: 20px;
                border: 0;

                li {
                    a {
                        min-width: 100px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        position: relative;
                        border: 0;
                        font-family: $primary-font;
                        font-size: 14px;
                        font-weight: normal;
                        color: $gray-6;
                        text-align: center;

                        &:not(.active):hover {
                            color: $primary-color;
                            font-weight: 600;
                        }

                        &.active {
                            background-color: $primary-color;
                            color: white;
                            border-radius: 4px;
                        }
                    }
                }

                @include media-breakpoint-down(xs) {
                    margin-right: 0;
                    width: 100%;

                    li {
                        margin: 3px 0;
                        width: 100%;

                        a {
                            width: 100%;
                        }
                    }
                }
            }

            &.with-input {
                @include flex(flex-end, stretch);
                flex-wrap: nowrap;

                .InputIcon {
                    margin-right: 10px;
                    flex-grow: 1;
                }
                .Select {
                    width: 265px;
                    margin-right: 10px;
                    flex-grow: 1;
                    lign-self: stretch;
                }

                @include media-breakpoint-down(sm) {
                    flex-wrap: wrap;

                    .InputIcon {
                        width: 100%;
                        margin: 0;
                    }
                    .Select {
                        width: 100%;
                        margin-top: 10px;
                        margin-bottom: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    hr {
        margin-top: 15px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid $gray-5;
    }
}

.ContentBox.primary {
    height: 100%;
    width: 100%;
    padding: 0;
    flex: 1;

    .box-header {
        background-color: $primary-color;
        padding: 20px;

        .box-title {
            margin-top: 0;
            color: white;
        }

        .action-items {
            margin-top: 0;

            .tabs {
                li {
                    a {
                        color: white;

                        &:not(.active):hover {
                            font-weight: bold;
                            color: white;
                        }

                        &.active {
                            background-color: white;
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        Button.ellipsis {
            background-color: transparent;
            color: white !important;

            &:hover {
                background-color: transparentize($color: white, $amount: 0.9);
            }
        }
    }

    .box-content {
        padding: 20px;
    }
}
