// Default modal size is Small
@mixin content-size($width) {
    @include media-breakpoint-up(md) {
        .modal-dialog {
            max-width: $width;
        }
    }

    @include media-breakpoint-only(sm) {
        .modal-dialog {
            max-width: 90vw;
        }
    }
}

.Modal {
    @include media-breakpoint-only(xs) {
        .modal-dialog {
            margin: 20px;
        }
    }

    .modal-content {
        min-height: 40vh;
        border: 0;
        border-radius: 4px;
        overflow: hidden;

        .modal-body {
            padding: 0;
            @include flex(stretch, stretch, column);
        }
    }

    @include content-size(600px);

    &.medium {
        @include content-size(70vw);
    }

    &.large {
        @include content-size(85vw);
    }
}
