// Default modal size is Small

@mixin content-size($width) {
    @include media-breakpoint-up(md) {
        .modal-dialog {
            max-width: $width;
        }
    }

    @include media-breakpoint-only(sm) {
        .modal-dialog {
            max-width: 90vw;
        }
    }
}

.Modal {
    .modal-body {
        padding: 0;
    }

    .modal-content {
        border: 0;
        border-radius: 8px;
    }

    &.medium {
        @include content-size(70vw);
    }

    &.large {
        @include content-size(85vw);
    }
}
