.ProgressBar {
    @include flex(center, center);

    .progress {
        flex: 1;
        border-radius: 0;
        background-color: rgba(13, 44, 84, 0.5);
    }

    .progress-bar {
        background-color: $primary-color;
    }

    .value {
        margin-left: 10px;
        flex-shrink: 0;
        font-family: $primary-font;
        font-size: 14px;
        font-weight: normal;
    }
}
