.RadioButton {
    &[disabled],
    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }

    label {
        @include flex(stretch, center);
        font-family: $primary-font;
        font-size: 14px;
        font-weight: normal;
        margin-left: 10px;
        margin: 0;
        cursor: pointer;
    }

    /* completely hiding radio button */
    input[type="radio"] {
        display: none;
    }

    /* simulate radiobutton appearance using pseudoselector */
    input[type="radio"] + label:before {
        content: "";
        /* create custom radiobutton appearance */
        @include flex(center, center);
        width: 18px;
        height: 18px;
        margin-right: 10px;
        /* background-color only for content */
        background-clip: content-box;
        background-color: #e9e9e9;
        border-radius: 50%;
        line-height: 0;
    }

    /* appearance of checked radiobutton */
    input[type="radio"]:checked + label:before {
        content: "\f111";
        font-family: "Font Awesome 5 Pro";
        font-size: 0.55rem;
        font-weight: 900;
        color: white;
        background-color: $primary-color;
    }

    /* optional styles for centering radiobuttons */
    .sound-signal label {
        display: inline-flex;
        align-items: center;
    }
}
