.SearchInput {
    position: relative;
    flex: 1;

    &.dark {
        input {
            background-color: $gray-7;
        }
    }

    input {
        width: 100%;
        padding: 6px 15px;
        padding-right: 45px;
        font-family: $primary-font;
        font-size: 14px;
        font-weight: 600;
        color: $dark;
        background-color: white;
        border-radius: 4px;
        border: 1px solid $gray-5 !important;
        outline: none !important;

        &::placeholder {
            font-family: $primary-font;
            font-size: 12px;
            font-weight: 500;
            color: $gray-6;
        }
    }

    .icon {
        position: absolute;
        color: $gray-6;
        top: 10px;
        right: 15px;
        font-size: 13px;
    }
}
