@mixin select {
    width: 100%;
    min-height: 30px !important;
    border-radius: 4px;
    padding: 11px 10px !important;
    border: 1px solid $gray-5 !important;
    font-family: $primary-font;
    font-weight: normal;
    font-size: 14px;
    color: $dark;
    outline: 0 !important;

    &.active {
        border-color: $dark !important;
    }

    .default.text {
        font-family: $primary-font;
        font-weight: normal;
        font-size: 14px !important;
        color: $dark !important;
        margin: 0 !important;
    }

    .menu {
        border-color: $dark !important;

        & > .item {
            font-family: $primary-font !important;
            font-size: 14px !important;
            color: $dark !important;
            padding: 8px 10px !important;

            &:hover {
                background-color: $dark;
                color: white !important;
            }
        }
    }

    &:focus {
        border-color: $dark;
    }

    &::placeholder {
        font-family: $primary-font;
        font-weight: 300;
        font-size: 14px;
        color: $gray-4;
    }

    &:disabled {
        background-color: $gray-1;
    }

    .dropdown.icon::before {
        content: "\f107";
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        font-size: 15px;
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        border: 0;
    }
}

select.Select,
.fluid.Select {
    @include select;
}

.fluid.SelectMultiple {
    @include select;
    min-height: 38px !important;
    padding: 4px !important;

    .menu .item:hover {
        background-color: $secondary-color;
        color: white !important;
    }

    .label {
        padding: 7px 10px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        font-size: 10px !important;
        background-color: $secondary-color;
        border-radius: 4px;
        color: white !important;
        box-shadow: none !important;
    }

    .delete.icon {
        cursor: pointer;
        margin-right: 0;
        margin-left: 15px;
        font-weight: bold;
        font-size: 10px;
        font-style: unset;

        &:before {
            content: "x";
        }
    }
}
