@mixin range {
    position: absolute;
    color: $dark;
    top: -20px;
    font-family: $primary-font;
    font-size: 14px;
    margin: 0;
}

.slider-container {
    position: relative;
    width: 100%;
    padding-top: 10px;

    output {
        position: absolute;
        color: $dark;
        top: -20px;
        font-family: $primary-font;
        font-size: 14px;
    }

    .Slider {
        -webkit-appearance: none;
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background: $gray-3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
    }

    .Slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: white;
        border: 10px solid $secondary-color;
        cursor: pointer;
        position: relative;
        z-index: 999;
    }

    .Slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: white;
        border: 10px solid $secondary-color;
        position: relative;
        z-index: 999;
        cursor: pointer;
    }

    .Slider::-webkit-slider-runnable-track {
        width: 20px;
    }

    .Slider::-moz-slider-runnable-track {
        width: 20px;
    }

    .minimum {
        @include range;
        left: 12px;

        // &:after {
        //     content: "";
        //     position: absolute;
        //     height: 20px;
        //     width: 20px;
        //     background-color: white;
        //     bottom: -26px;
        //     left: -15px;
        //     border-right: 2px solid $gray-3;
        //     z-index: 0;
        // }
    }

    .maximum {
        @include range;
        right: 9px;

        // &:after {
        //     content: "";
        //     position: absolute;
        //     height: 20px;
        //     width: 20px;
        //     background-color: white;
        //     bottom: -26px;
        //     left: 10px;
        //     border-left: 2px solid $gray-3;
        //     z-index: 0;
        // }
    }
}
