.UserCard {
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    @include flex(stretch, center);
    @include shadow(0, 0, 10px, 0, rgba(0, 0, 0, 0.05));

    @include media-breakpoint-down(xs) {
        flex-wrap: wrap;
    }

    .Avatar {
        width: 95px;
        height: 95px;
        flex-shrink: 0;
        margin-right: 20px;

        @include media-breakpoint-down(xs) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .user-details {
        flex: 1;

        @include media-breakpoint-down(xs) {
            flex-basis: 100%;
            margin-top: 20px;
        }

        .main-information {
            display: flex;
            flex-wrap: wrap;

            @include media-breakpoint-down(xs) {
                justify-content: center;
            }

            .name-position {
                margin-right: 20px;

                .name {
                    margin: 0;
                    font-size: 18px;
                    font-weight: bold;
                    color: $dark;
                }

                .position {
                    margin: 0;
                    margin-top: -2px;
                    font-size: 14px;
                    font-weight: bold;
                    color: $gray-6;
                }

                @include media-breakpoint-down(xs) {
                    margin-right: 0;
                    flex-basis: 100%;
                    text-align: center;
                }
            }

            .badges {
                margin-top: 2px;
                .shield {
                    margin-right: 3px;
                    color: $red;
                }
                .grin {
                    margin-right: 3px;
                    color: $violet;
                }
                .star {
                    margin-right: 3px;
                    color: $lime-green;
                }
                .megaphone {
                    color: $green;
                }
            }
        }

        .contact-information {
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;

            @include media-breakpoint-down(xs) {
                @include flex(center, center);
            }

            .item {
                @include flex(center, center);

                .icon {
                    font-size: 14px;
                    color: $gray-6;
                    margin-right: 5px;
                }

                span {
                    font-size: 14px;
                    color: $gray-6;
                    line-height: 0;
                }
            }
        }
    }

    .ellipsis-container {
        align-self: flex-start;

        @include media-breakpoint-down(xs) {
            align-self: stretch;
            position: absolute;
            right: 20px;
        }

        button {
            margin-left: auto;
            flex-shrink: 0;
        }
    }
}
