// Fonts
$primary-font: "Nunito", sans-serif;
$secondary-font: "Quicksand", sans-serif;

// Colors
$primary-color: #0d2c54;
$secondary-color: #7fb800;
$secondary-color-light: rgba(127, 184, 0, 0.1);
$blue: #00a6ed;
$red: #ff0000;
$gray-1: #eeeeee;
$gray-2: #dddddd;
$gray-3: #cccccc;
$gray-4: #b7b7b7;
$dark: #333333;
// $dark: rgba(0, 0, 0, 0.5);
