// Fonts
$primary-font: "Nunito", sans-serif;
$secondary-font: "Nunito", sans-serif;

// Colors
$primary-color: #00a6ed;
$secondary-color: #7fb800;
$secondary-color-light: rgba(127, 184, 0, 0.1);
$blue: #00a6ed;
$red: #ff0000;
$green: #00d00e;
$lime-green: #b9e73e;
$purple: #f45bff;
$violet: #6155ff;
$gray-1: #eeeeee;
$gray-2: #dddddd;
$gray-3: #cccccc;
$gray-4: #b7b7b7;
$gray-5: #e2e2e2;
$gray-6: #bbbbbb;
$gray-7: #f7f7f7;
$dark: #444;
$screen-background: #f7f7f7;
